@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Roboto&display=swap');
div {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #D4E09B;
    text-decoration: none;
    padding: 35px;

}
#hero-msg h1, #hero-msg {
    text-align: center;
    color: #C7AC92;

}
main section {
    text-align: center;

}
#background {
    height: 725px;
    background-color: #94A89A;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: #94A89A;
    font-size: 22px;
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
header {
    background-color: #94A89A;
    display: grid;
    grid-template-columns: 150px auto;

}
nav a:hover {
    background-color: #94A89A;
    color: #A44A3F;

}
footer {
    background-color: #94A89A;
    color: #A44A3F;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.home-title {
    color: #A44A3F;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.home-msg p {
    color: #A44A3F;
    font-size: 1.2em;
    padding-bottom: 15px;
    position: absolute;
}
.oldfaithful {
    width: 100%;
    position: relative;
}
footer a:hover {
    color: #A44A3F;
}
footer a {
    color: #A44A3F;
    text-decoration: none;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}  
h2 {
    margin: 0;
}
footer .social img {
    padding-top: 15px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}
